body {
   margin: 30px;
   background-color: #f4f5f0;
   letter-spacing: 0.2em;
}
header {
   padding: 20px 4% 10px;
   position: fixed;
   top: 0;
   width: 100%;
   background-color: transparent;
   display: flex;
   align-items: center;
}

div#body-bk{
    padding:80px 0 80px 0;    /* 上下に160pxを余白を取る */
}
 
div#body{
    width:960px;
    margin:auto;
}
/* ↓id="nav"の中のulに対してCSSを適用*/
#nav ul {
  list-style-type: none; /*箇条書きのポッチを消す*/
  text-align:left /*左右中央寄せは親要素に対して指定*/
}

/* ↓id="nav"の中のulの中のliに対してCSSを適用*/
#nav ul li { 
  display: inline-block;/*inline-blockにします*/
  width: 50%; /*幅も指定できる*/
  padding: 10px 0;/*余白も指定できる*/
  margin: 10px 0;/*余白も指定できる*/
  vertical-align:  top;/*縦の表示位置も指定できる*/
  /*background: skyblue;*/ /*背景を水色に*/
  /*font-weight: bold;*/ /*文字を太字に*/
  /*color:white;*/ /*文字色を白に*/
}
.foot-wrap .menu-left, .menu-right {
    display: inline-block;
    width: 35%;
    margin: 50px auto;
}
.foot-wrap ul {
    list-style: none;
    padding: 0;
    line-height:40px;
}

a {	
   text-decoration: none;
   font-weight: bold;
}
a:hover{
  padding-bottom:1px;
　text-decoration: underline;
}
ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ol{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
address{
font-style: normal;
}
.sample{
   background-color:#d0e6ca;
   /*font-size:70%;*/
}

@media screen and (max-width: 900px) {
    .foot-wrap .menu-left, .menu-right {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .foot-wrap .cpr {
        display: inline;
    }
}

/* ボタン全体 */
.flowbtn10{
display:inline-block;	
font-size:35px;
text-decoration:none;
transition:.5s;
color:#111111;	
}
/* インスタ・pocket・ラインだけ少し大きくしない*/
.flowbtn10 .fa-instagram,.flowbtn10 .fa-get-pocket,.flowbtn10 .fa-get-pocket,.flowbtn10 .fa-line .fa-discord{
font-size:35px;
}
/* Twitterマウスホバー時 */
.flowbtn10 .fa-twitter:hover{
color:#55acee;
}
/* Instagramマウスホバー時 */
.flowbtn10 .fa-instagram:hover{
color:#c6529a;
}
/* Facebookマウスホバー時 */
.flowbtn10 .fa-facebook-f:hover{
color:#3b5998;
}
/* Feedlyマウスホバー時 */
.flowbtn10 .fa-rss:hover{
color:#6cc655;
}
/* Pocketマウスホバー時 */
.flowbtn10 .fa-get-pocket:hover{
color:#ef3f56;
}
/* はてブマウスホバー時 */
.flowbtn10 .fa-bold:hover{
color:#1ba5dc;	
}
/* YouTubeマウスホバー時 */
.flowbtn10 .fa-youtube:hover{
color:#fc0d1c;
}
/* LINEマウスホバー時 */
.flowbtn10 .fa-line:hover{
color:#00c300;
}
/* Discordマウスホバー時 */
.flowbtn10 .fa-discord:hover{
color:#738ADB;
}
/* メールアイコンマウスホバー時 */
.flowbtn10 .fa-envelope:hover{
color:#f3981d;		
}
/* ulタグの内側余白を０にする */
ul.snsbtniti{
padding:0!important;
}
/* アイコン全体の位置 */
.snsbtniti{
display:flex;
flex-flow:row wrap;
justify-content:space-between;	
}
/* アイコン同士の余白 */
.snsbtniti li{
flex:0 0 33%;
text-align:center!important;
}
